div#dropdown {
    position: relative;
    display: inline-block;
    border: 2px solid #930000;
    border-radius: 5px;
    width: 14%;
    padding: 0.4%;
    margin: 2%;
  }

div#dropdown div#arrow-section {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 2%;
}

div#dropdown div#arrow-section img {
    width: 8%;
}

#dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div#dropdown:hover #dropdown-content {
    display: block;
    width: 100%;
}

div#dropdown div#dropdown-content ul {
    border: 2px solid #930000;
    border-top: none;
    border-radius: 5px;
    width: 100%;
    list-style-type: none;
}

