div#photo-component {
    width: 38%;
    height: 40%;
}

div#photo-component img {
    width: 80%;
    padding-left: 10%;
}

div#form-for-input-register {
    width: 62%;
}

div#form-for-input-register form {
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#form-for-input-register form button {
    width: 200px;
}

