div#component-form-help {
    width: auto;
    padding-left: 3%;
    padding-bottom: 3%;
    height:max-content;
}

div#component-form-help form {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 30%;
}

div#component-form-help h1 {
    font-size: 180%;
    color: #AC7373
}