.img-style {
    width: 100%;
}

.conteiner-block-info {
    display: flex;
    height: max-content;
    justify-content: flex-end;
    align-items: flex-end;
    height:auto;
}

.block-info {
    display: flex;
    flex-direction: column;
    background-color: #907E7E4D;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 40%;
    width: 100%;
    padding-left: 5%;
}

.h1-style {
    margin-top: 5%;
    width: 100%;
}

.h1-style h1 {
    color: #930000;
    font-size: 1.5vw;
}

.p-style {
    width: 100%;
}

.p-style p {
    margin-top: 2%;
    color: #AC7373;
    font-size: 1.5vw;
}

.button-style {
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.button-style button {
    padding: 5% 4% 5% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.button-style button:hover {
    background-color: #AC7373 !important;
    box-shadow: 0 0 8px #930000;
}

.button-style button:active {
    background-color: #8d5858 !important;
}

.button-style button span {
    font-size: 1.4vw;
    font-weight: 400;
    color: #F1EDE2;
}
