div#input-div {
    width: 40%;
    height: 20%;
}

div#input-div p {
    font-size: 90%;
    font-weight: 700;
    color: #930000;
    margin-bottom: 4%;
}

input#input-data-component {
    height: 60%;
    width:90%;
    background-color: transparent;
    border: 2px solid #AC7373;
    border-radius: 10px;
    padding: 1%;
    color: #930000;
    font-size: 100%;
}

input#input-data-component:focus {
    border: 2px solid #930000;
    outline: none;
}