.login-review {
    color: #AC7373;
    font-weight: 600;
    font-size: 1.5vw;
    margin-bottom: 1.3%;
}

.date-review {
    color: #AC7373;
    font-size: 1.2vw;
    margin-bottom: 1.3%;
}

.data-review {
    color: #AC7373;
    font-size: 1.2vw;
    text-align: justify;
}

.button-view-reviews {
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.4%;
    font-size: 1.4vw;
}

.rate-review-style {
    margin-bottom: 1.4%;
    color: #930000;
}