div#catalog-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-book-style {
    width: 49.5%;
    margin-left: -4%;
    border: 3px solid #AC7373;
    border-radius: 10px;
    height: 3.5vw;
    font-size: 1.4vw;
}

.search-book-style:hover .search-book-style:focus {
    border: 3px solid #930000;
}


