button#button-for-auth {
    height: 14%;
    font-size: 90%;
    background-color: #AC7373;
    border: none;
    border-radius: 10px;
    color: white;
}

button#button-for-auth:hover {
    box-shadow: 0 0 8px #930000;
}

button#button-for-auth:active {
    background-color: #930000;
}


